"" Source your .vimrc
source ~/.vimrc

Plug 'easymotion/vim-easymotion'
Plug 'terryma/vim-multiple-cursors'

let mapleader = " "

set surround
set multiple-cursors
set clipboard+=unnamed
set clipboatd+=ideaput
set scrolloff=9
""set number relativenumber
set ideajoin
set idearefactormode=keep
set incsearch
set showmode
set showcmd
set NERDTree

"" -- IdeaVim commands
nnoremap \e :e ~/.ideavimrc<CR>\
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>

" Remap multiple-cursors shortcuts to match terryma/vim-multiple-cursors
nmap <C-n> <Plug>NextWholeOccurrence
xmap <C-n> <Plug>NextWholeOccurrence
nmap g<C-n> <Plug>NextOccurrence
xmap g<C-n> <Plug>NextOccurrence
nmap <C-x> <Plug>SkipOccurrence
xmap <C-x> <Plug>SkipOccurrence
nmap <C-p> <Plug>RemoveOccurrence
xmap <C-p> <Plug>RemoveOccurrence

"" -- Window navigation
nnoremap <c-\> :action SplitVertically<CR>
nnoremap <c--> :action SplitHorizontally<CR>
nnoremap <c-=> :action Unsplit<CR>
nnoremap <c-m> :action MoveEditorToOppositeTabGroup<CR>

sethandler <c-j> a:vim
sethandler <c-k> a:vim
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k

nnoremap <s-h> :action PreviousTab<CR>
nnoremap <s-l> :action NextTab<CR>

nnoremap <leader>en :action EditSourceInNewWindow<CR>
nnoremap <leader>e<TAB> :action NextWindow<CR>
nnoremap <leader>qt :action CloseContent<CR>
nnoremap <leader>qa :action CloseAllEditors<CR>
nnoremap <leader>qw :action HideActiveWindow<CR>

nnoremap zd :action ToggleDistractionFreeMode<CR>
nnoremap zc :action CollapseRegion<CR>
nnoremap zo :action ExpandRegion<CR>
nnoremap <leader>zc :action CollapseAllRegions<CR>
nnoremap <leader>zo :action ExpandAllRegions<CR>


"========================= Editing code
nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>
nnoremap <leader>c :action CommentByLineComment<CR>
nnoremap <leader>lr :action Refactorings.QuickListPopupAction<CR>
vnoremap <leader>lr :action Refactorings.QuickListPopupAction<CR>
nnoremap <leader>lf :action ReformatCode<CR>
nnoremap <leader>li :action OptimizeImports<CR>
nnoremap <leader>le :action ShowErrorDescription<CR>
nnoremap <leader>la :action ShowIntentionActions<CR>
vnoremap <leader>la :action ShowIntentionActions<CR>
map <C-c> <Esc>
map <S-k> :action QuickJavaDoc<CR>
map <leader>lp :action ParameterInfo<CR>
nnoremap <leader>i :action Generate<CR>

"nnoremap <leader>h :action LocalHistory.ShowHistory<CR>

"========================= Searching and source code navigation
set incsearch
nnoremap <leader>f/ :action FindInPath<CR>
nnoremap <leader>fr :action RecentFiles<CR>
nnoremap <leader>fl :action RecentLocations<CR>
nnoremap <leader>fc :action GotoClass<CR>
nnoremap <leader>fs :action GotoSymbol<CR>
nnoremap <leader>fa :action GotoAction<CR>
nnoremap <leader>ff :action GotoFile<CR>
nnoremap <leader>fu :action FindUsages<CR>
"nnoremap <leader>s :action GotoRelated<CR>
"nnoremap <leader>h :action CallHierarchy<CR>
nnoremap <leader>nb :action ShowNavBar<CR>

nnoremap <leader>nm :action FileStructurePopup<CR>

nnoremap gi :action GotoImplementation<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gp :action GotoSuperMethod<CR>
nnoremap gt :action GotoTest<CR>
nnoremap gb :action Back<CR>
nnoremap gf :action Forward<CR>
nnoremap ge :action GotoNextError<CR>
nnoremap gE :action GotoPreviousError<CR>
nnoremap g1 :action SelectIn<CR>

"========================== Terminal
nnoremap <leader>gt :action ActivateTerminalToolWindow<CR>
nnoremap <leader>tn :action Terminal.OpenInTerminal<CR>

"========================== Debug
nnoremap <leader>db :action ToggleLineBreakpoint
nnoremap <leader>dr :action ContextDebug<CR>
nnoremap <leader>dt :action ActivateDebugToolWindow<CR>

"========================== Run
nnoremap <leader>rr :action ContextRun<CR>
nnoremap <leader>rc :action RunClass<CR>
nnoremap <leader>rf :action ChooseRunConfiguration<CR>
nnoremap <leader>rt :action ActivateRunToolWindow<CR>
nnoremap <leader>ru :action Rerun<CR>

"========================== EasyMotion
map <leader>M <Plug>(easymotion-s)
map <leader>m <Plug>(easymotion-f)
"" Map <leader>d to start debug

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)

" Find more examples here: https://jb.gg/share-ideavimrc
